@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-primary font-sans;
}

@layer components {

  .section {
  @apply py-24 overflow-hidden;
}

 .section-title {
  @apply text-5xl font-bold text-primary;
}

  .container-custom {
  @apply mx-auto w-full max-w-[1400px] px-8;
}

  .btn-primary {
    @apply rounded-pill bg-secondary px-6 py-3 text-white shadow-button transition hover:opacity-90;
  }

  .btn-outline {
    @apply rounded-pill border border-secondary px-6 py-3 text-secondary transition hover:bg-secondary hover:text-white;
  }

  .card {
    @apply rounded-3xl bg-white shadow-card;
  }

  .input {
    @apply rounded-xl border border-border px-4 py-3 outline-none focus:border-secondary;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

/* globals.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html,
body {
  overflow-x: hidden;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 80s linear infinite;
}



